<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=IKMTSU\SQLEXPRESS;Initial Catalog=Clientes;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
